.post-comment
{
    display: flex;
    justify-content: center;

    gap: 10px;
}
.post-comment img
{
    border-radius: 50%;
    transition: all 0.5s ease;
}
.post-comment img:hover
{
    cursor: pointer;
    transform: scale(1.05);
}
.post-actions-comment {
    display: flex;
    justify-content: left;
    gap: 50px;
    margin-top: 10px;
}
.post-actions-comment button {
    border: none;
    background: none;
    cursor: pointer;
    color: #2d88ff;
    transition: color 0.3s, transform 0.3s;
}
.post-actions-comment button:hover {
    color: #1a73e8;
    transform: scale(1.1);
}
.post-actions-comment button:active {
    transform: scale(1.2);
}
.post-actions-comment .like-button.active {
    color: red;
}
.post-content-comment{
    margin-left: 50px;
}