* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100dvh;
    width: 100dvw;
}

.container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EBF5FF;
}

.container .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .logo h1 {
    color: #3B82F6;
    font-size: 1.8rem;
}

.container .logo p {
    color: #4B5563; 
    margin: 0.5rem 0 1rem;
}

.card {
    width: 30dvw;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card.IN {
    height: 450px;
}

.card.UP{
    max-height: 630px;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.p-form {
    color: #6B7280;
    margin-bottom: 1.5rem;
}

.Sign {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.login {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #D1D5DB;
    border-radius: 0.25rem;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #3B82F6;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

button:hover {
    background-color: #2563EB;
    transform: scale(1.01);
}

.change {    
    text-align: center;
}

.change button {
    background: none;
    border: none;
    font-size: 0.875rem;
    color: #3B82F6;
    transition: all 0.5s ease-in-out;
}

.change button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.form-docker {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    opacity: 1;
    transition: opacity 0.3s, transform 1s;
}

.form-container.hidden {
    opacity: 0;
    transform: translateX(500px);
    position: absolute;
}

.text-blue-500 {
    color: rgb(59 130 246);
}

.log {
    display: flex;
    gap: 0.6rem;
}

.Pe {
    color: #2f343a;
    font-size: 1.8rem;;
}

#formLogin {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.verify, .ErroConfirm {
    margin: 8px 10px;
    font-size: 13px;
    color: rgb(255, 6, 6);
}

#PassSignup{
    margin-bottom: 0;
}

#register {
    pointer-events: none;
    background-color: #4B5563;
}
